/* style to go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CCC;
}

p {
  font-family: 'VT323', monospace;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h1, h2 {
  font-family: "Frijole", cursive;
  text-shadow: 
    2px 1px 3px #39304A,
    3px 2px 4px #b73328,
    -2px -1px #FFF;
}

h3 {
  font-family: 'VT323', monospace;
  text-align: center;
}

img {
  border-radius: 50%;
  box-shadow: 0px 0px 6px #333;
}

button {
  width: 150px;
  height: 50px;
  margin: 5px;
  margin-top: 20px;
  color: white;
  font-family: Frijole, cursive;
  background: #80241C;
  border: 2px black solid;
  font-size: 1.5rem;
  box-shadow: 
    2px 2px 2px #000,
    inset 2px 2px 4px #ee4839;
}

button:hover {
  background: #b73328;
}

button:active {
  background: #b73328;
  transform: translate(1px, 3px);
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 150px;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #E6E8E6;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

progress[value]::-webkit-progress-value {
  background: #80241C;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#main {
  display: grid;
  grid-template-areas: 
    "a d d d d d d f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a c c c c c c f";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: d;
}

#egg {
  grid-area: b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#egg-drawing {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width: 560px;
   height: 100%;
   background-color: #39304A;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 65%;
  height: 55%;
  border-radius: 4px;
  border: 1px #333 solid;
  background-color: rgb(201, 202, 188);
  box-shadow: 
    2px 2px 4px #000,
    inset 2px 2px 4px #666;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: c;
}

#loading {
  display: flex;
  flex-direction: column;
}

#status {
  position: absolute;
  top: 0;
}

#avatar {
  position: absolute;
  bottom: 0;
}