/* style to go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CCC;
}

h1 {
  font-family: "Frijole", cursive;
}

h3 {
  text-align: center;
}

img {
  border-radius: 50%;
}

button {
  width: 150px;
  height: 50px;
  margin: 5px;
  color: white;
  font-family: Frijole, cursive;
  background: #80241C;
  border: 2px black solid;
  font-size: 1.5rem;
}

#main {
  display: grid;
  grid-template-areas: 
    "a d d d d d d f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a b b b b b b f"
    "a c c c c c c f";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100vw;
  height: 100vh;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: d;
}

#egg {
  grid-area: b;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#egg-drawing {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width: 100%;
   height: 100%;
   background-color: black;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 55%;
  border-radius: 4px;
  border: 2px #ccc solid;
  background-color: white;
  box-shadow: inset 2px, 2px, 100px,#ccc;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: c;
}